Repository Open-Agent-Tools/basic-open-agent-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: area: documentation, area: tests, area: ci, type: dependencies, area: core, area: security

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

refactor: migrate coding-specific modules to coding-open-agent-tools
  CHANGELOG.md
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/code_analysis/__init__.py
  src/basic_open_agent_tools/code_analysis/ast_parsing.py
  src/basic_open_agent_tools/code_analysis/complexity.py
  src/basic_open_agent_tools/code_analysis/imports.py
  src/basic_open_agent_tools/code_analysis/patterns.py
  src/basic_open_agent_tools/code_analysis/secrets.py
  src/basic_open_agent_tools/crypto/hashing.py
  src/basic_open_agent_tools/git/__init__.py
  src/basic_open_agent_tools/git/branches.py
  src/basic_open_agent_tools/git/history.py
  src/basic_open_agent_tools/git/status.py
  src/basic_open_agent_tools/helpers.py
  src/basic_open_agent_tools/profiling/__init__.py
  src/basic_open_agent_tools/profiling/benchmarks.py
  src/basic_open_agent_tools/profiling/memory.py
  src/basic_open_agent_tools/profiling/performance.py
  src/basic_open_agent_tools/static_analysis/__init__.py
  src/basic_open_agent_tools/static_analysis/analysis.py
  src/basic_open_agent_tools/static_analysis/parsers.py
  tests/archive/test_compression_extended.py
  tests/code_analysis/test_code_analysis.py
  tests/code_analysis/test_code_analysis_extended.py
  tests/data/test_config_processing.py
  tests/git/test_git.py
  tests/profiling/test_profiling.py
  tests/static_analysis/test_static_analysis.py
Labels: area: documentation, area: tests, type: dependencies, area: core

docs: simplify and update all project documentation
  EXPANSION_PLAN.md
  README.md
  docs/api-reference.md
  docs/getting-started.md
Labels: area: documentation

feat: add color module with 14 zero-dependency functions
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/color/README.md
  src/basic_open_agent_tools/color/__init__.py
  src/basic_open_agent_tools/color/analysis.py
  src/basic_open_agent_tools/color/conversion.py
  src/basic_open_agent_tools/color/generation.py
  src/basic_open_agent_tools/helpers.py
Labels: area: documentation, area: core

test: add comprehensive test suite for color module
  tests/color/__init__.py
  tests/color/test_analysis.py
  tests/color/test_conversion.py
  tests/color/test_generation.py
Labels: area: tests

feat: implement hybrid confirmation system for skip_confirm operations
  src/basic_open_agent_tools/archive/compression.py
  src/basic_open_agent_tools/archive/formats.py
  src/basic_open_agent_tools/confirmation.py
  src/basic_open_agent_tools/data/config_processing.py
  src/basic_open_agent_tools/file_system/operations.py
  test_confirmation_modes.py
Labels: area: tests, area: core

feat: complete confirmation system rollout to remaining modules
  rollout_confirmation_system.py
  src/basic_open_agent_tools/data/csv_tools.py
  src/basic_open_agent_tools/file_system/editor.py
  src/basic_open_agent_tools/todo/operations.py
Labels: area: core

docs: document smart confirmation system across all documentation
  CHANGELOG.md
  README.md
  docs/api-reference.md
  docs/faq.md
  docs/getting-started.md
Labels: area: documentation

test: add comprehensive test coverage for confirmation system (27 tests, 100% coverage)
  src/basic_open_agent_tools/file_system/editor.py
  src/basic_open_agent_tools/file_system/operations.py
  tests/test_confirmation.py
Labels: area: tests, area: core

chore: update TODO files with correct version numbers
  src/basic_open_agent_tools/data/TODO.md
  src/basic_open_agent_tools/file_system/TODO.md
  src/basic_open_agent_tools/network/TODO.md
  src/basic_open_agent_tools/system/TODO.md
  src/basic_open_agent_tools/text/TODO.md
  src/basic_open_agent_tools/utilities/TODO.md
Labels: area: documentation

Bump version to 0.13.2
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: area: documentation, type: dependencies, area: core

Bump version to 0.13.3
  CODE_QUALITY_REVIEW.md
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: area: documentation, type: dependencies, area: core

Complete remaining CODE_QUALITY_REVIEW.md findings
  src/basic_open_agent_tools/color/conversion.py
  src/basic_open_agent_tools/network/http_client.py
  src/basic_open_agent_tools/xml/parsing.py
  src/basic_open_agent_tools/xml/transformation.py
  src/basic_open_agent_tools/xml/validation.py
Labels: area: core

Bump version to 0.13.4
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  tests/crypto/test_generation.py
Labels: area: tests, type: dependencies, area: core

Improve confirmation dialog previews to show new content instead of old file size
  src/basic_open_agent_tools/data/config_processing.py
  src/basic_open_agent_tools/data/csv_tools.py
  src/basic_open_agent_tools/file_system/operations.py
Labels: area: core

Extend confirmation preview improvements to archive operations
  src/basic_open_agent_tools/archive/compression.py
  src/basic_open_agent_tools/archive/formats.py
Labels: area: core

Bump version to 0.13.6
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: area: documentation, type: dependencies, area: core

Bump version to 0.13.7
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: area: documentation, type: dependencies, area: core

Bump version to 0.13.8
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Improve confirmation preview limits and fix test compliance
  src/basic_open_agent_tools/archive/compression.py
  src/basic_open_agent_tools/data/config_processing.py
  src/basic_open_agent_tools/data/csv_tools.py
  src/basic_open_agent_tools/file_system/operations.py
  src/basic_open_agent_tools/utilities/debugging.py
  tests/crypto/test_hashing.py
  tests/todo/test_operations.py
  tests/utilities/test_debugging.py
Labels: area: tests, area: core

Bump version to 0.13.9
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  tests/data/test_config_processing.py
Labels: area: tests, type: dependencies, area: core

Fix skip_confirm test failures and improve coverage to 43%
  CHANGELOG.md
  COMPLETION_SUMMARY.md
  pyproject.toml
  src/basic_open_agent_tools/_logging.py
  src/basic_open_agent_tools/archive/compression.py
  src/basic_open_agent_tools/archive/formats.py
  src/basic_open_agent_tools/data/config_processing.py
  src/basic_open_agent_tools/data/csv_tools.py
  src/basic_open_agent_tools/data/json_tools.py
  src/basic_open_agent_tools/file_system/operations.py
  src/basic_open_agent_tools/network/http_client.py
  src/basic_open_agent_tools/system/shell.py
  src/basic_open_agent_tools/text/processing.py
  tests/data/test_config_processing.py
  tests/data/test_csv_tools.py
  tests/file_system/test_editor.py
  tests/file_system/test_operations.py
  tests/system/test_shell.py
  tests/todo/test_integration.py
Labels: area: documentation, area: tests, type: dependencies, area: core

Fix test parameter issues and improve coverage for network, system, and text modules
  src/basic_open_agent_tools/text/processing.py
  tests/network/test_dns.py
  tests/system/test_environment.py
  tests/system/test_processes.py
Labels: area: tests, area: core

Bump version to 0.13.10
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Update README with complete 326-tool breakdown table and v0.13.10 release notes
  README.md
Labels: area: documentation

Simplify README release notes to focus on user-facing features
  README.md
Labels: area: documentation

Apply ruff formatting to examples and test configuration files
  conftest.py
  examples/__init__.py
  examples/adk_evaluation/__init__.py
  examples/adk_evaluation/capture_response.py
  examples/adk_evaluation/debug_response.py
  examples/adk_evaluation/test_tree_agent_evaluation.py
  examples/adk_evaluation/tree_agent/__init__.py
  examples/adk_evaluation/tree_agent/example_agent.py
  examples/strands_agent_example.py
  rollout_confirmation_system.py
Labels: area: tests

Bump version to 0.13.11
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/_logging.py
  tests/strands/test_strands_decorators.py
Labels: area: documentation, area: tests, type: dependencies, area: core

Add missing load_all_color_tools() to README and reorganize helper functions section
  README.md
Labels: area: documentation

Improve content preview formatting to show actual whitespace and newlines instead of escape sequences
  src/basic_open_agent_tools/confirmation.py
  src/basic_open_agent_tools/file_system/operations.py
Labels: area: core

Bump version to 0.13.12
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  tests/strands/test_strands_integration.py
Labels: area: documentation, area: tests, type: dependencies, area: core

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

Bump version to 0.13.13
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/file_system/editor.py
  src/basic_open_agent_tools/file_system/operations.py
Labels: type: dependencies, area: core

Bump version to 0.13.14
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/_logging.py
Labels: type: dependencies, area: core

Bump version to 0.14.0
  README.md
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: area: documentation, type: dependencies, area: core

Bump version to 0.14.1
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/helpers.py
Labels: type: dependencies, area: core

Bump version to 0.15.0
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/file_system/__init__.py
  src/basic_open_agent_tools/file_system/editor.py
  tests/file_system/test_editor.py
Labels: area: tests, type: dependencies, area: core

Bump version to 0.15.1
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/todo/operations.py
  src/basic_open_agent_tools/todo/validation.py
  src/basic_open_agent_tools/utilities/TODO.md
  tests/todo/test_validation.py
Labels: area: documentation, area: tests, type: dependencies, area: core

Bump version to 1.0.0
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Migrate TODO.md files to GitHub issues
  src/basic_open_agent_tools/data/TODO.md
  src/basic_open_agent_tools/diagrams/TODO.md
  src/basic_open_agent_tools/excel/TODO.md
  src/basic_open_agent_tools/file_system/TODO.md
  src/basic_open_agent_tools/html/TODO.md
  src/basic_open_agent_tools/image/TODO.md
  src/basic_open_agent_tools/markdown/TODO.md
  src/basic_open_agent_tools/network/TODO.md
  src/basic_open_agent_tools/pdf/TODO.md
  src/basic_open_agent_tools/powerpoint/TODO.md
  src/basic_open_agent_tools/system/TODO.md
  src/basic_open_agent_tools/text/TODO.md
  src/basic_open_agent_tools/todo/__init__.py
  src/basic_open_agent_tools/todo/persistence.py
  src/basic_open_agent_tools/utilities/TODO.md
  src/basic_open_agent_tools/word/TODO.md
  src/basic_open_agent_tools/xml/TODO.md
  tests/todo/test_persistence.py
Labels: area: documentation, area: tests, area: core

.github/labeler.yml:

# Auto-labeling rules for PRs based on changed files
# https://github.com/actions/labeler

# Documentation changes
"area: documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"

# Tests
"area: tests":
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"
          - "**/test_*.py"
          - "**/*_test.py"

# CI/CD and workflows
"area: ci":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".gitignore"
          - ".pre-commit-config.yaml"

# Dependencies
"type: dependencies":
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"

# Core functionality
"area: core":
  - changed-files:
      - any-glob-to-any-file:
          - "src/basic_open_agent_tools/**/*.py"

# Security
"area: security":
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - "**/security*.py"
