Repository Open-Agent-Tools/basic-open-agent-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: area: documentation, area: tests, area: ci, type: dependencies, area: core, area: security

.github/labeler.yml:

# Auto-labeling rules for PRs based on changed files
# https://github.com/actions/labeler

# Documentation changes
"area: documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"

# Tests
"area: tests":
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"
          - "**/test_*.py"
          - "**/*_test.py"

# CI/CD and workflows
"area: ci":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".gitignore"
          - ".pre-commit-config.yaml"

# Dependencies
"type: dependencies":
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"

# Core functionality
"area: core":
  - changed-files:
      - any-glob-to-any-file:
          - "src/basic_open_agent_tools/**/*.py"

# Security
"area: security":
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - "**/security*.py"

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

Bump version to 1.0.1
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Add get_current_directory() and fix load_writers()
  src/basic_open_agent_tools/helpers.py
  src/basic_open_agent_tools/system/__init__.py
  src/basic_open_agent_tools/system/runtime.py
  tests/system/test_runtime.py
Labels: area: tests, area: core

Bump version to 1.0.2
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Add skip_confirm and preview to file edit functions
  src/basic_open_agent_tools/file_system/operations.py
  tests/file_system/test_operations.py
  tests/file_system/test_operations_agent/agent/sample_agent.py
Labels: area: tests, area: core

Run ruff format on file_system operations
  src/basic_open_agent_tools/file_system/operations.py
  tests/file_system/test_operations.py
Labels: area: tests, area: core

Bump version to 1.0.3
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Improve user confirmation system with YES default and decline reasons
  src/basic_open_agent_tools/archive/compression.py
  src/basic_open_agent_tools/archive/formats.py
  src/basic_open_agent_tools/confirmation.py
  src/basic_open_agent_tools/data/config_processing.py
  src/basic_open_agent_tools/data/csv_tools.py
  src/basic_open_agent_tools/file_system/operations.py
  src/basic_open_agent_tools/todo/operations.py
  src/basic_open_agent_tools/todo/persistence.py
  tests/test_confirmation.py
Labels: area: tests, area: core

Update uv.lock after dependency changes
  uv.lock
Labels: type: dependencies

Bump version to 1.1.0
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Add token-saving inspection tools for CSV, JSON, Excel, and XML
  src/basic_open_agent_tools/data/__init__.py
  src/basic_open_agent_tools/data/csv_tools.py
  src/basic_open_agent_tools/data/json_tools.py
  src/basic_open_agent_tools/excel/__init__.py
  src/basic_open_agent_tools/excel/reading.py
  src/basic_open_agent_tools/xml/__init__.py
  src/basic_open_agent_tools/xml/parsing.py
  tests/data/test_csv_tools_agent/list_available_tools.test.json
  tests/data/test_json_tools_agent/list_available_tools.test.json
Labels: area: tests, area: core

Add JSON modification tools and token-saving inspection tools for Markdown and PDF
  src/basic_open_agent_tools/data/__init__.py
  src/basic_open_agent_tools/data/json_tools.py
  src/basic_open_agent_tools/markdown/__init__.py
  src/basic_open_agent_tools/markdown/parsing.py
  src/basic_open_agent_tools/pdf/__init__.py
  src/basic_open_agent_tools/pdf/parsing.py
  tests/data/test_json_tools_agent/list_available_tools.test.json
Labels: area: tests, area: core

Add token-saving inspection tools for Config, HTML, and Logging
  src/basic_open_agent_tools/data/__init__.py
  src/basic_open_agent_tools/data/config_processing.py
  src/basic_open_agent_tools/html/__init__.py
  src/basic_open_agent_tools/html/parsing.py
  src/basic_open_agent_tools/logging/__init__.py
  src/basic_open_agent_tools/logging/parsing.py
Labels: area: core

Implement markdown and datetime enhancements (Issues #17-20, #29-30)
  src/basic_open_agent_tools/datetime/__init__.py
  src/basic_open_agent_tools/datetime/formatting.py
  src/basic_open_agent_tools/datetime/operations.py
  src/basic_open_agent_tools/helpers.py
  src/basic_open_agent_tools/markdown/__init__.py
  src/basic_open_agent_tools/markdown/generation.py
  src/basic_open_agent_tools/markdown/parsing.py
Labels: area: core

Expand load_datetime_essential() to 13 tools
  src/basic_open_agent_tools/helpers.py
Labels: area: core

Bump version to 1.2.0
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Update README files for v1.2.0 release
  README.md
  src/basic_open_agent_tools/datetime/README.md
  src/basic_open_agent_tools/markdown/README.md
Labels: area: documentation

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

Add missing load_datetime_essential to public API
  src/basic_open_agent_tools/__init__.py
Labels: area: core

Bump version to 1.2.1
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

Fix all critical MyPy type errors and eliminate compression code duplication
  src/basic_open_agent_tools/archive/compression.py
  src/basic_open_agent_tools/excel/writing.py
  src/basic_open_agent_tools/file_system/info.py
  src/basic_open_agent_tools/helpers.py
  src/basic_open_agent_tools/html/generation.py
  src/basic_open_agent_tools/markdown/generation.py
  src/basic_open_agent_tools/word/styles.py
  src/basic_open_agent_tools/xml/authoring.py
Labels: area: core

Remove commented-out code in file_system/__init__.py
  src/basic_open_agent_tools/file_system/__init__.py
Labels: area: core

Update CODE_QUALITY_REPORT.md with resolved issues
  CODE_QUALITY_REPORT.md
Labels: area: documentation

Refactor http_request() to reduce complexity
  src/basic_open_agent_tools/network/http_client.py
Labels: area: core

Add reusable Excel reading helper functions
  src/basic_open_agent_tools/excel/reading.py
Labels: area: core

Refactor sample_sheet_rows() and filter_sheet_rows()
  src/basic_open_agent_tools/excel/reading.py
Labels: area: core

Update CODE_QUALITY_REPORT.md with latest improvements
  CODE_QUALITY_REPORT.md
Labels: area: documentation

Run code cleanup and quality checks
  test_bypass_windows.py
  uv.lock
Labels: area: tests, type: dependencies

Fix helper test expectations for data tools
  tests/helpers/test_helpers.py
Labels: area: tests

Fix TODO test status from pending to open
  tests/todo/test_persistence.py
Labels: area: tests

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

Add 6 pre-configured loadouts for specialized agent use cases
  README.md
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/helpers.py
  tests/todo/test_integration.py
Labels: area: documentation, area: tests, area: core

Apply ruff formatting to test_persistence.py
  tests/todo/test_persistence.py
Labels: area: tests

Bump version to 1.3.0
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
Labels: type: dependencies, area: core

Update README for version 1.3.0 features
  README.md
Labels: area: documentation

Update README for version 1.3.0 features (#67)
  README.md
Labels: area: documentation

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

Add comprehensive test coverage for Word module
  tests/word/__init__.py
  tests/word/test_reading.py
  tests/word/test_styles.py
  tests/word/test_writing.py
Labels: area: tests
