Repository Open-Agent-Tools/basic-open-agent-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: area: documentation, area: tests, area: ci, type: dependencies, area: core, area: security

Add comprehensive test coverage for Excel module
  tests/excel/__init__.py
  tests/excel/test_formatting.py
  tests/excel/test_reading.py
  tests/excel/test_writing.py
Labels: area: tests

Code cleanup: ruff formatting and linting fixes
  QA_COMPREHENSIVE_ANALYSIS.md
  pyproject.toml
  src/basic_open_agent_tools/todo/persistence.py
  tests/data/test_config_processing.py
  tests/data/test_config_processing_agent/agent/sample_agent.py
  tests/data/test_csv_tools_agent/agent/sample_agent.py
  tests/data/test_json_tools_agent/agent/sample_agent.py
  tests/data/test_validation_agent/agent/sample_agent.py
  tests/excel/test_formatting.py
  tests/excel/test_reading.py
  tests/excel/test_writing.py
  tests/file_system/test_info_agent/agent/sample_agent.py
  tests/file_system/test_operations_agent/agent/sample_agent.py
  tests/file_system/test_tree_agent/agent/sample_agent.py
  tests/file_system/test_validation_agent/agent/sample_agent.py
  tests/helpers/test_helpers_agent/agent/sample_agent.py
  tests/text/test_processing_agent/agent/sample_agent.py
  tests/todo/test_persistence.py
  tests/word/test_reading.py
  uv.lock
Labels: area: documentation, area: tests, type: dependencies, area: core

Fix Excel test failures - all 78 tests now passing
  tests/excel/test_formatting.py
  tests/excel/test_reading.py
Labels: area: tests

Document nbconvert security vulnerability (CVE-2025-53000)
  SECURITY.md
  requirements.txt
Labels: area: documentation, type: dependencies, area: security

Release v1.3.1: Add get_current_directory to essential tools
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/helpers.py
Labels: type: dependencies, area: core

Simplify README and remove redundant sections
  README.md
Labels: area: documentation

Release v1.3.2: Add shell access to essentials
  pyproject.toml
  src/basic_open_agent_tools/__init__.py
  src/basic_open_agent_tools/helpers.py
Labels: type: dependencies, area: core

Fix package-name typos, relock, and adapt to pytest-asyncio strictness
  pyproject.toml
  uv.lock
Labels: type: dependencies

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

chore: dependency update report
  dependency-report.md
  outdated.json
Labels: area: documentation

.github/labeler.yml:

# Auto-labeling rules for PRs based on changed files
# https://github.com/actions/labeler

# Documentation changes
"area: documentation":
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "docs/**/*"

# Tests
"area: tests":
  - changed-files:
      - any-glob-to-any-file:
          - "tests/**/*"
          - "**/test_*.py"
          - "**/*_test.py"

# CI/CD and workflows
"area: ci":
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - ".gitignore"
          - ".pre-commit-config.yaml"

# Dependencies
"type: dependencies":
  - changed-files:
      - any-glob-to-any-file:
          - "pyproject.toml"
          - "requirements*.txt"
          - "uv.lock"

# Core functionality
"area: core":
  - changed-files:
      - any-glob-to-any-file:
          - "src/basic_open_agent_tools/**/*.py"

# Security
"area: security":
  - changed-files:
      - any-glob-to-any-file:
          - "SECURITY.md"
          - "**/security*.py"
